<app-common-header></app-common-header>
<main class="main">
  <h1>Todo新規登録</h1>
  <div>
    <form class="todo-form" [formGroup]="todoForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="todo-full-width" appearance="fill">
        <mat-label>タイトル</mat-label>
        <input matInput placeholder="タイトル" formControlName="title">
      </mat-form-field>
      <mat-form-field class="todo-full-width" appearance="fill">
        <mat-label>カテゴリ</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="todo-full-width" appearance="fill">
        <mat-label>本文</mat-label>
        <textarea style="width: 100%; height: 200px;" matInput placeholder="本文…" formControlName="body"></textarea>
      </mat-form-field>
      <div style="text-align: right;">
        <button style="margin-right: 10px;" mat-flat-button color="primary" type="submit">新規登録</button><a mat-flat-button color="accent" href="/todo/todo-list">リストへ戻る</a>
      </div>
    </form>
  </div>
</main>
