<div style="width: 850px;">
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <dl>
      <dt>
        タイトル
      </dt>
      <dd>
        <input style="width:500px" formControlName="title">
      </dd>
    </dl>
    <dl>
      <dt>
        カテゴリ
      </dt>
      <dd>
        <select style="width:500px" formControlName="category">
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
      </dd>
    </dl>
    <dl>
      <dt>
        本文
      </dt>
      <dd>
        <textarea style="width: 800px; height: 200px;" formControlName="body"></textarea>
      </dd>
    </dl>
    <div style="text-align: right;">
      <button style="margin-right: 10px;" mat-flat-button color="primary" type="submit">新規登録</button><a mat-flat-button color="accent" href="/todo/todo-list">リストへ戻る</a>
    </div>
  </form>
</div>
