<app-common-header></app-common-header>
<main class="main">
  <h1>カテゴリー修正</h1>
  <div>
    <form class="todo-form" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="todo-full-width" appearance="fill">
        <mat-label>カテゴリー名</mat-label>
        <input matInput placeholder="カテゴリー名" formControlName="name">
      </mat-form-field>
      <mat-form-field class="todo-full-width" appearance="fill">
        <mat-label>slug</mat-label>
        <input matInput placeholder="slug" formControlName="slug">
      </mat-form-field>
      <mat-form-field class="todo-full-width" appearance="fill">
        <mat-label>色</mat-label>
        <mat-select formControlName="color">
          <mat-option *ngFor="let color of colors" [value]="color.code">
            {{ color.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div style="text-align: right;">
        <button style="margin-right: 10px;" mat-flat-button color="primary" type="submit">修正</button><a mat-flat-button color="accent" href="/category/category-list">リストへ戻る</a>
      </div>
    </form>
  </div>
</main>
